<main class="main main-catalog">
    <section class="search-bar">
        <div class="img-button">
            <img src="assets/search.png" alt="cart image" class="small-image">
        </div>

        <input type="text" placeholder="product name">
           
        <div class="img-button">
            <img src="assets/cart.png" alt="cart image" class="small-image">
        </div>
    </section>

    <section class="catalog">
        @for(product of products; track product.id) {
            <div class="product small-product">
                <img [src]="product.image" alt="imagem do produto">
                <hr>
                <div class="product-informations">
                    <span class="span-catalog">R$ {{product.price}}</span>
                    <p>{{product.name}}</p>
                </div>
            </div>
        }
    </section>

    <button href="#" class="button">
        <span>carregar mais</span>
    </button>
</main>
