@mixin flex($direction, $justify, $align, $gap, $wrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap; 
    flex-wrap: $wrap;
}

@mixin width-height($width, $max-width, $height) {
    width: $width;
    max-width: $max-width;
    height: $height;
}

.main-catalog { 
    @include flex(column, center, none, none, none);
    max-width: 1000px; 

    .search-bar {
        @include flex(none, center, center, none, none);
        @include width-height(100%, 100%, 50px);
        border-radius: 10px;

        input { @include width-height(100%, 100%, 100%);}

        .img-button {
            @include flex(none, center, center, none, none);
            @include width-height(50px, 50px, 100%);
            background-color: rgb(185, 183, 183);
            text-align: center;
            
            .small-image {
                width: 20px;
                color: gray;
            }
        }
    }

    .catalog {
        @include flex(row, center, none, 20px, wrap);
        @include width-height(100%, 100%, none);

        .product {
            @include flex(column, none, center, none, none);
            width: 100%;
            background-color: rgb(232, 232, 232);

            .product-informations {
                @include flex(column, none, none, none, none);
                @include width-height(100%, 100%, 100%);
                border-top: 1px solid rgb(8, 8, 8);
                padding: 10px;

                span { font-weight: bold; }

                .span-catalog {
                    color: green;
                    font-size: 25px;
                }

                p {
                    color: rgb(117, 117, 117);
                    font-size: 15px;
                }
            }
        }

        .small-product {
            max-width: 200px;

            img {
                width: 150px;
                text-align: center;
            }
        }
    }
}